################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Entity-Framework-Core/.vs/Entity-Framework-Core/v16
/Entity-Framework-Core/.vs/Entity-Framework-Core/DesignTimeBuild
/Entity-Framework-Core/bin/Debug/netcoreapp3.1
*.dll
*.pdb
